<div style='background-color : lightgreen'>
    <a id='TableOfContents'></a>
    <h1 style='text-align : center; padding-top: 60px; font-family: cursive;'>
        Table of Contents
    </h1>
    <ul style='list-style-type:none; display: flex; justify-content: center; margin-bottom: 30px;padding-top: 60px;'>
        <li style='margin-right: 20px;'><a href='#imports'>Imports</a></li>
        <li style='margin-right: 20px;'><a href='#q1'>Question 1</a></li>
        <li style='margin-right: 20px;'><a href='#q2'>Question 2</a></li>
        <li style='margin-right: 20px;'><a href='#q3'>Question 3</a></li>
        <li style='margin-right: 20px;'><a href='#q4'>Question 4</a></li>
        <li style='margin-right: 20px;'><a href='#q5'>Question 5</a></li>
        <li><a href='#bonus'>Bonus</a></li>
    </ul>
</div>

<div style='background-color : lightblue'>
<a id='imports'></a>
    <b><u><i><h1 style='text-align : center;padding-top: 25px;''>
        Imports
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

In [1]:
# Vectorization and dataframing
import numpy as np
import pandas as pd

# Regex
import re

# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

import unicodedata
import acquire as a
import nltk

# nltk.download('all') required to run for all!!

In [2]:
blogs = a.get_blogs()

In [3]:
articles = a.get_articles()

In [ ]:
blogs.head()

,title,content
0,Women in tech: Panelist Spotlight – Magdalena ...,Magdalena Rahn is a current Codeup student in ...
1,Women in tech: Panelist Spotlight – Rachel Rob...,Rachel recently joined USAA’s Data Science Del...
2,Women in tech: Panelist Spotlight – Sarah Mellor,We asked Sarah how Codeup has impacted her car...
3,Women in tech: Panelist Spotlight – Madeleine ...,Madeleine attended Codeup as a student in earl...
4,Black excellence in tech: Panelist Spotlight –...,Wilmarie De La Cruz Mejia is a current Codeup ...

In [5]:
articles

,title,content,category
0,Ex-Mumbai Police chief Param Bir Singh's suspe...,The Maharashtra government on Friday dropped a...,national
1,Allahabad HC allows carbon dating of 'Shivling...,The Allahabad High Court has allowed the Archa...,national
2,India's retail inflation eases to 18-month low...,"The country's retail inflation, which is measu...",national
3,1.12 lakh students score above 90% marks in CB...,As many as 1.12 lakh students have scored abov...,national
4,1.95 lakh students score above 90% marks in CB...,Around 1.95 lakh candidates have scored above ...,national
...,...,...,...
292,"Govt to release ₹500-cr subsidy to Ola, Ather,...",The government has decided to release over ₹50...,automobile
293,US-based used-vehicle retailer Vroom lays off ...,US-based online used-vehicle retailer Vroom ha...,automobile
294,Hero Electric denies getting ₹150-250 cr subsi...,Hero Electric CEO Sohinder Singh Gill has deni...,automobile
295,Honda Cars records 33% Y-o-Y dip in domestic s...,Honda Cars India recorded a 33% year-on-year d...,automobile
296,EV ecosystem still not mature in India: Renaul...,"Venkatram Mamillapalle, Renault India MD and C...",automobile

<div style='background-color : lightblue'>
<a id='q1'></a>
    <b><u><i><h1 style='text-align : center; padding-top: 25px;''>
        Question 1
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

<b>Question 1.</b>Define a function named basic_clean. It should take in a string and apply some basic text cleaning to it:

- Lowercase everything
- Normalize unicode characters
- Replace anything that is not a letter, number, whitespace or a single quote.

#### lowercase everything

In [ ]:
blogs = blogs.applymap(lambda s: s.lower() if type(s) == str else s)

In [ ]:
blogs.head()

,title,content
0,women in tech: panelist spotlight – magdalena ...,magdalena rahn is a current codeup student in ...
1,women in tech: panelist spotlight – rachel rob...,rachel recently joined usaa’s data science del...
2,women in tech: panelist spotlight – sarah mellor,we asked sarah how codeup has impacted her car...
3,women in tech: panelist spotlight – madeleine ...,madeleine attended codeup as a student in earl...
4,black excellence in tech: panelist spotlight –...,wilmarie de la cruz mejia is a current codeup ...

In [ ]:
articles = articles.applymap(lambda s: s.lower() if type(s) == str else s)

In [ ]:
articles.head()

,title,content,category
0,microsoft won't give salary hikes to full-time...,microsoft will not give salary hikes to full-t...,business
1,"csk to bat first against dc in chennai, lalit ...",csk captain ms dhoni won the toss and elected ...,sports
2,microsoft won't give salary hikes to full-time...,microsoft will not give salary hikes to full-t...,technology
3,petition filed in hc challenging 'the kerala s...,after west bengal cm mamata banerjee banned th...,entertainment

#### Normalize unicode characters

In [ ]:
def normalize_text(text):
    return unicodedata.normalize('NFC', text)

def normalize_df(df):
    for col in df.columns:
        if df[col].dtype == 'object':
            df[col] = df[col].apply(lambda x: normalize_text(x))
    return df

In [ ]:
# apply the normalize_text function to all cells in the dataframe
blogs = normalize_df(blogs)

In [ ]:
blogs.head()

,title,content
0,women in tech panelist spotlight magdalena rahn,magdalena rahn is a current codeup student in ...
1,women in tech panelist spotlight rachel robbin...,rachel recently joined usaas data science deli...
2,women in tech panelist spotlight sarah mellor,we asked sarah how codeup has impacted her car...
3,women in tech panelist spotlight madeleine capper,madeleine attended codeup as a student in earl...
4,black excellence in tech panelist spotlight wi...,wilmarie de la cruz mejia is a current codeup ...

In [ ]:
articles = articles.applymap(normalize_text)

In [ ]:
articles.head()

,title,content,category
0,microsoft won't give salary hikes to full-time...,microsoft will not give salary hikes to full-t...,business
1,"csk to bat first against dc in chennai, lalit ...",csk captain ms dhoni won the toss and elected ...,sports
2,microsoft won't give salary hikes to full-time...,microsoft will not give salary hikes to full-t...,technology
3,petition filed in hc challenging 'the kerala s...,after west bengal cm mamata banerjee banned th...,entertainment

#### Replace anything that is not a letter, number, whitespace or a single quote.

In [ ]:
def remove_non_matching(text):
    regex = re.compile(r'[^\w\s\']')
    return regex.sub('', text)
    
def remove_non_matching_df(df):
    for col in df.columns:
        if df[col].dtype == 'object':
            df[col] = df[col].apply(lambda x: remove_non_matching(x))
    return df

In [ ]:
def basic_clean_df(df):
    df = df.applymap(lambda s: s.lower() if type(s) == str else s)
    df= normalize_df(df)
    df=remove_non_matching_df(df)
    return df

In [ ]:
blogs = remove_non_matching_df(blogs)

In [ ]:
blogs

,title,content
0,women in tech panelist spotlight magdalena rahn,magdalena rahn is a current codeup student in ...
1,women in tech panelist spotlight rachel robbin...,rachel recently joined usaas data science deli...
2,women in tech panelist spotlight sarah mellor,we asked sarah how codeup has impacted her car...
3,women in tech panelist spotlight madeleine capper,madeleine attended codeup as a student in earl...
4,black excellence in tech panelist spotlight wi...,wilmarie de la cruz mejia is a current codeup ...
5,black excellence in tech panelist spotlight st...,stephanie jones is an alumna of codeups data s...

In [ ]:
articles = articles.applymap(remove_non_matching)

In [ ]:
blogs.head()

,title,content
0,women in tech panelist spotlight magdalena rahn,magdalena rahn is a current codeup student in ...
1,women in tech panelist spotlight rachel robbi...,rachel recently joined usaas data science deli...
2,women in tech panelist spotlight sarah mellor,we asked sarah how codeup has impacted her car...
3,women in tech panelist spotlight madeleine ca...,madeleine attended codeup as a student in earl...
4,black excellence in tech panelist spotlight w...,wilmarie de la cruz mejia is a current codeup ...

<div style='background-color : lightblue'>
<a id='q2'></a>
    <b><u><i><h1 style='text-align : center; padding-top: 25px;''>
        Question 2
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

<b>Question 2.</b> Define a function named tokenize. It should take in a string and tokenize all the words in the string.

In [ ]:
def tokenize(text):
    tokens = nltk.tokenize.ToktokTokenizer()
    tokenized = tokens.tokenize(text, return_str=True)
    return tokenized

def tokenize_df(df):
    for col in df.columns:
        if df[col].dtype == 'object':
            df[col] = df[col].apply(lambda x: tokenize(x))
    return df

In [ ]:
blogs = tokenize_df(blogs)

In [ ]:
blogs

,title,content
0,women in tech panelist spotlight magdalena rahn,magdalena rahn is a current codeup student in ...
1,women in tech panelist spotlight rachel robbin...,rachel recently joined usaas data science deli...
2,women in tech panelist spotlight sarah mellor,we asked sarah how codeup has impacted her car...
3,women in tech panelist spotlight madeleine capper,madeleine attended codeup as a student in earl...
4,black excellence in tech panelist spotlight wi...,wilmarie de la cruz mejia is a current codeup ...
5,black excellence in tech panelist spotlight st...,stephanie jones is an alumna of codeups data s...

In [ ]:
articles = tokenize_df(articles)

In [ ]:
articles.content[0]

"microsoft will not give salary hikes to fulltime employees this year ceo satya nadella said in an internal email on wednesday this year the economic conditions are very different across many dimensions nadella said in the email while we ' ll have salary increases for certain hourly or equivalent roles we won ' t have salary increases for fulltime employees this year he added"

<div style='background-color : lightblue'>
<a id='q3'></a>
    <b><u><i><h1 style='text-align : center;padding-top: 25px;''>
        Question 3
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

<b>Question 3.</b> Define a function named stem. It should accept some text and return the text after applying stemming to all the words.

In [ ]:
def stem(text):
    stemmer = nltk.porter.PorterStemmer()
    stem = [stemmer.stem(word) for word in text.split()]
    text = ' '.join(stem)
    return text

def stem_df(df):
    for col in df.columns:
        if df[col].dtype == 'object':
            df[col] = df[col].apply(lambda x: stem(x))
    return df

In [ ]:
stem('thesis is a random string ')

'thesi is a random string'

<div style='background-color : lightblue'>
    <a id='q4'></a>
    <b><u><i><h1 style='text-align : center; padding-top: 25px;'>
        Question 4
    </h1></i></u></b>
    <li><a href='#TableOfContents'>Table of Contents</a></li>
</div>

<b>Question 4.</b> Define a function named lemmatize. It should accept some text and return the text after applying lemmatization to each word.

In [ ]:
def lemmatize(text):
    lemmatizer = nltk.stem.WordNetLemmatizer()
    lemmatized = [lemmatizer.lemmatize(word) for word in text.split()]
    text = ' '.join(lemmatized)
    return text

def lematize_df(df):
    for col in df.columns:
        if df[col].dtype == 'object':
            df[col] = df[col].apply(lambda x: lemmatize(x))
    return df

<div style='background-color : lightblue'>
<a id='q5'></a>
    <b><u><i><h1 style='text-align : center; padding-top: 25px;''>
        Question 5
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

<b>Question 5.</b> Define a function named remove_stopwords. It should accept some text and return the text after removing all the stopwords.

- This function should define two optional parameters, extra_words and exclude_words. These parameters should define any additional stop words to include, and any words that we don't want to remove.

In [ ]:
def remove_stopwords(text):
    stopwords = nltk.corpus.stopwords
    text = [word for word in text.split()]
    text = ' '.join([word for word in text 
                         if word not in stopwords.words('english')])
    return text


def remove_df_stopwords(df):
    for col in df.columns:
        if df[col].dtype == 'object':
            df[col] = df[col].apply(lambda x: remove_stopwords(x))
    return df

<div style='background-color : lightblue'>
<a id='q6'></a>
    <b><u><i><h1 style='text-align : center; padding-top: 25px;''>
        Question 6
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

<b>Question 6.</b> Use your data from the acquire to produce a dataframe of the news articles. Name the dataframe news_df.

In [ ]:
news_df = a.get_articles()

<div style='background-color : lightblue'>
<a id='q7'></a>
    <b><u><i><h1 style='text-align : center; padding-top: 25px;''>
        Question 7
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

<b>Question 7.</b> Make another dataframe for the Codeup blog posts. Name the dataframe codeup_df.

In [ ]:
codeup_df = a.get_blogs()

<div style='background-color : lightblue'>
<a id='q8'></a>
    <b><u><i><h1 style='text-align : center; padding-top: 25px;''>
        Question 8
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

<b>Question 8.</b> For each dataframe, produce the following columns:

- title to hold the title
- original to hold the original article/post content
- clean to hold the normalized and tokenized original with the stopwords removed.
- stemmed to hold the stemmed version of the cleaned data.
- lemmatized to hold the lemmatized version of the cleaned data.

In [ ]:
news_df = news_df.rename(columns={'title': 'original_title', 'content':'original_content'})

In [ ]:
codeup_df = codeup_df.rename(columns={'title':'original_title', 'content':'orginal_content'})

In [ ]:
def get_function_name(func):
    func_name = func.__name__
    return func_name.split('_')[0]

In [ ]:
def prep_df_nlp(df):
    result = df.copy()
    df1 = df.copy()
    processes = [stem_df, lematize_df]
    steps = [basic_clean_df, remove_df_stopwords, tokenize_df]
    df1 = basic_clean_df(df1)
    df1 = df1.rename(columns={'original_title':'clean_title', 'orginal_content':'clean_conent'})
    result = pd.concat([result, df1], axis=1)
    for process in processes:
        df1 = df.copy()
        for col in df1.columns:
            df1 = df1.rename(columns={col:f"{get_function_name(process)}_{col}"})
        for step in steps:
            df1 = step(df1)
        df1 = process(df1)
        result = pd.concat([result, df1], axis=1)
      
    return result

In [ ]:
test_df = prep_df_nlp(codeup_df)

In [ ]:
test_df

,original_title,orginal_content,clean_title,clean_conent,stem_original_title,stem_orginal_content,lematize_original_title,lematize_orginal_content
0,Women in tech: Panelist Spotlight – Magdalena ...,Magdalena Rahn is a current Codeup student in ...,women in tech panelist spotlight magdalena rahn,magdalena rahn is a current codeup student in ...,women tech panelist spotlight magdalena rahn,magdalena rahn current codeup student data sci...,woman tech panelist spotlight magdalena rahn,magdalena rahn current codeup student data sci...
1,Women in tech: Panelist Spotlight – Rachel Rob...,Rachel recently joined USAA’s Data Science Del...,women in tech panelist spotlight rachel robbi...,rachel recently joined usaas data science deli...,women tech panelist spotlight rachel robbinsma...,rachel recent join usaa data scienc deliveri t...,woman tech panelist spotlight rachel robbinsma...,rachel recently joined usaas data science deli...
2,Women in tech: Panelist Spotlight – Sarah Mellor,We asked Sarah how Codeup has impacted her car...,women in tech panelist spotlight sarah mellor,we asked sarah how codeup has impacted her car...,women tech panelist spotlight sarah mellor,ask sarah codeup impact career respons absolut...,woman tech panelist spotlight sarah mellor,asked sarah codeup impacted career response ab...
3,Women in tech: Panelist Spotlight – Madeleine ...,Madeleine attended Codeup as a student in earl...,women in tech panelist spotlight madeleine ca...,madeleine attended codeup as a student in earl...,women tech panelist spotlight madelein capper,madelein attend codeup student earli 2019 pupi...,woman tech panelist spotlight madeleine capper,madeleine attended codeup student early 2019 p...
4,Black excellence in tech: Panelist Spotlight –...,Wilmarie De La Cruz Mejia is a current Codeup ...,black excellence in tech panelist spotlight w...,wilmarie de la cruz mejia is a current codeup ...,black excel tech panelist spotlight wilmari de...,wilmari de la cruz mejia current codeup studen...,black excellence tech panelist spotlight wilma...,wilmarie de la cruz mejia current codeup stude...
5,Black excellence in tech: Panelist Spotlight –...,Stephanie Jones is an Alumna of Codeup’s Data ...,black excellence in tech panelist spotlight s...,stephanie jones is an alumna of codeups data s...,black excel tech panelist spotlight stephani jone,stephani jone alumna codeup data scienc progra...,black excellence tech panelist spotlight steph...,stephanie jones alumna codeups data science pr...

<div style='background-color : lightblue'>
<a id='q9'></a>
    <b><u><i><h1 style='text-align : center; padding-top: 25px;''>
        Question 9
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

<b>Question 9.</b>  Ask yourself:

- If your corpus is 493KB, would you prefer to use stemmed or lemmatized text?
- If your corpus is 25MB, would you prefer to use stemmed or lemmatized text?
- If your corpus is 200TB of text and you're charged by the megabyte for your hosted computational resources, would you prefer to use stemmed or lemmatized text?

<div style='background-color : lightblue'>
<a id='bonus'></a>
    <b><u><i><h1 style='text-align : center; padding-top: 25px;''>
        Bonus
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>